<div class="card mt-4">
    <div class="card-header">
        <h2>Outras questões de saúde</h2>
    </div>
    <div class="card-body table-hover">
        <table class='table'>
            <thead>
                <th>Pergunta:</th>
                <th>Sim</th>
                <th>Não</th>
            </thead>
            <tbody>


                <tr>
                    <td class = "text-justify">Você sofre de diabetes?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="diabetes" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="diabetes" checked value='false'>Não
                        </label>
                    </td>
                </tr>
                
                <tr>
                    <td class = "text-justify">Você sofre de asma ou de outra doença pulmonar?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="asma" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="asma" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você apresenta sensações de queimação ou de cãibras em suas pernas ao percorrer pequenas distâncias?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="queimacaoPerna" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="queimacaoPerna" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você tem problemas musculoesqueléticos que limitam sua atividade física?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="musculoEsqueleticos" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="musculoEsqueleticos" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você torna medicação(ões) prescrita(s)?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="medicacaoPrescrita" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="medicacaoPrescrita" checked value='false'>Não
                        </label>
                    </td>
                </tr>


                <tr>
                    <td class = "text-justify">Você está grávida?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="gravida" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="gravida" checked value='false'> Não
                        </label>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>