
<div class="card mt-4">
    <div class="card-header">
        <h2>Fatores de risco cardiovasculares</h2>
    </div>
    <div class="card-body">
        <table class='table table-hover'>
            <thead>
                <th>Pergunta:</th>
                <th>Sim</th>
                <th>Não</th>
            </thead>
            <tbody>


                <tr>
                    <td class = "text-justify">Você é um homem com mais de 45 anos de idade?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="homem45" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="homem45" checked value='false'>Não
                        </label>
                    </td>
                </tr>
                
                <tr>
                    <td class = "text-justify">Você é uma mulher com mais de 55 anos de idade, foi submetida a uma histerectomia ou está no período pós-menopausa?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="mulher55" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="mulher55" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você fuma ou deixou de fumar nos últimos 6 meses?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="fuma" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="fuma" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Sua pressão arterial é >140/90 mm Hg?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="pressaoArterialMaior" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="pressaoArterialMaior" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você não sabe qual é sua pressão arterial?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="naoSabePressaoArterial" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="naoSabePressaoArterial" checked value='false'>Não
                        </label>
                    </td>
                </tr>


                <tr>
                    <td class = "text-justify">Você toma alguma medicação para pressão arterial?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="medicacaoPressaoArterial" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="medicacaoPressaoArterial" checked value='false'>Não
                        </label>
                    </td>
                </tr>


                <tr>
                    <td class = "text-justify">Seu nível sanguíneo de colesterol é >200 mg/dL?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="colesterolMaior" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="colesterolMaior" checked value='false'>Não
                        </label>
                    </td>
                </tr>     

                <tr>
                    <td class = "text-justify">Você não sabe qual é seu nível de colesterol?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="sabeColesterol" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="sabeColesterol" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você tem um parente consanguíneo próximo que teve um ataque cardíaco ou foi submetido a uma cirurgia do coração antes dos 55 anos de idade (pai ou irmão) ou dos 65 anos de idade (mãe ou irmã)?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="parenteProximo" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="parenteProximo" checked value='false'>Não
                        </label>
                    </td>
                </tr>        

                <tr>
                    <td class = "text-justify">Você é fisicamente inativo (i.e, você realiza menos que 30 minutos de atividade física de intensidade moderada pelo menos 3 dias por semana)?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="fisicamenteInativo" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="fisicamenteInativo" checked value='false'>Não
                        </label>
                    </td>
                </tr> 

                <tr>
                    <td class = "text-justify"> Você tem <9 kg de sobrepeso?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="sobrepeso" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="sobrepeso" value='false' checked>Não
                        </label>
                    </td>
                </tr>                               
            </tbody>
        </table>
    </div>
</div>