<div class="card mt-4">
    <div class="card-header">
        <h2>Sintomas</h2>
    </div>
    <div class="card-body">
        <table class='table table-hover'>
            <thead>
                <th>Pergunta:</th>
                <th>Sim</th>
                <th>Não</th>
            </thead>
            <tbody>


                <tr>
                    <td class = "text-justify">Você experimenta desconforto torácico com o esforço?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="desconfortoToraxico" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="desconfortoToraxico" checked value='false'>Não
                        </label>
                    </td>
                </tr>
                
                <tr>
                    <td class = "text-justify">Você experimenta desconforto respiratório sem motivo?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="desconfortoRespiratorio"  value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="desconfortoRespiratorio" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você experimenta tonteira, desmaio ou perdas temporárias da consciência?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="desmaios"  value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="desmaios" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Você toma medicações para o coração?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="medicacaoCoracao"  value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="medicacaoCoracao" checked value='false'>Não
                        </label>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>