<div class="card mt-4">
    <div class="card-header">
        <h2>História (Anamnese)</h2>
    </div>
    <div class="card-body">
        <table class='table table-hover'>
            <thead>
                <th>Você já teve, já realizou ou possui:</th>
                <th>Sim</th>
                <th>Não</th>
            </thead>
            <tbody>


                <tr>
                    <td class = "text-justify">Um ataque de coração?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="ataqueCoracao" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="ataqueCoracao" checked value='false'>Não
                        </label>
                    </td>
                </tr>
                
                <tr>
                    <td class = "text-justify">Cirurgia cardíaca?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="cirurgiaCardiaca" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="cirurgiaCardiaca" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Cateterismo cardíaco?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="cateterismo" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="cateterismo" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Angioplastia coronariana?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="angioplastia" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="angioplastia" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Marca-passo , desfibrilador cardíaco implantável e/ou distúrbio do ritmo?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="marcaPasso" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="marcaPasso" checked value='false'>Não
                        </label>
                    </td>
                </tr>


                <tr>
                    <td class = "text-justify">Doenças das valvas cardíacas?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="doencaValvas" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="doencaValvas" checked value='false'>Não
                        </label>
                    </td>
                </tr>


                <tr>
                    <td class = "text-justify">Insuficiência cardíaca?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="insuficienciaCardiaca" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="insuficienciaCardiaca" checked value='false'>Não
                        </label>
                    </td>
                </tr>     

                <tr>
                    <td class = "text-justify">Transplante do coração?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="transplanteCoracao" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="transplanteCoracao" checked value='false'>Não
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class = "text-justify">Doença cardíaca congênita?</td>
                    <td>    
                        <label class="radio-inline">
                            <input type="radio" name="doencaCardiaca" value='true'>Sim
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="doencaCardiaca" checked value='false'>Não
                        </label>
                    </td>
                </tr>                                      

            </tbody>
        </table>
    </div>
</div>
