<div class="jumbotron">
  <h1 class="display-4">Server de EdFis</h1>
  <p class="lead">Server base para o aplicativo de educação física</p>
  <hr class="my-4">
  <p>Para registrar um novo usuário, clique no botão abaixo:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  </p>
</div>
