<h2>Avaliação:</h2>
<form method="POST" action="/usuarios/avaliacao">
    <input hidden type = 'text' name='userID' value='{{usuarioID}}'>
    {{>_perguntashistoria}}
    {{>_perguntassintomas}}
    {{>_perguntassaude}}
    {{>_perguntasriscos}}
    <button class="btn btn-success btn-block mt-4" type="submit">Submeter avaliação</button>
</form>