{{#each erros}}
    <div class="alert alert-danger"> {{texto}}</div>
{{else}}

{{/each}}

<h2>Crie sua conta: </h2>
<div class = "card mt-4">
    <div class = "card-body">
        <form action="/usuarios/registrar" method="POST">
            <label for = "nome">Nome: </label>
            <input type = "text" name= "nome" class = "form-control" required>

            <label for = "cpf">CPF: </label>
            <input type="text" name="cpf" class = "form-control">

            <label for = "email">Email: </label>
            <input type = "email" name= "email" class = "form-control" required>

            <label for = "senha">Senha: </label>
            <input type = "password" name= "senha" class = "form-control" required>

            <label for = "senha2">Repita a sua senha: </label>
            <input type = "password" name= "senha2" class = "form-control" required>

            <label for="bday">Data de Nascimento:</label>
            <input type="date" name="bday" class="form-control" required>
            
            <label for="sexo">Sexo:</label>
            <select name="sexo"  class="form-control">
                <option>Masculino</option>
                <option>Feminino</option>
            </select>

            <button type = "submit" class = "btn btn-success mt-4">Criar Conta</button>
        </form>
    </div>
</div>

